@using System.Net
@model List<ToDoList.Models.TaskList>
<h4>Project/index.cshtml</h4>


<h2>To-Do List</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Title">List Title</label>
        <input type="text" id="Title" name="Title" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Create List</button>
</form>

<hr/>

<!-- Display all lists -->
@if (Model.Any())
{
    @foreach (var list in Model)
    {
        <div class="task-list">
            <h3>@list.Title</h3>
            <p>Number of Items: @list.Items.Count</p>
        
            <!-- TODO: output tasks to main page --> 
            <ul class="item_list">
                @foreach(var task in @list.Items)
                {
                    <li>@task.Name</li>
                }

            </ul>
            
            <!-- Add item to task list -->
            <form asp-action="AddItem" asp-route-listId="@list.ListId" method="post">
                <div class="form-group">
                    <label for="itemName">New Task</label>
                    <input type="text" id="itemName" name="itemName" class="form-control" required/>
                </div>
                <button type="submit" class="btn btn-primary">add to list</button>
            </form>
        
            <a href="@Url.Action("TaskList", "Project", new{listId = list.ListId })">View Tasks</a>
        </div>
    }
}






