@using System.Net
@model List<ToDoList.Models.TaskList>
<h4>Project/index.cshtml</h4>


<h2>To-Do List</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Title">List Title</label>
        <input type="text" id="Title" name="Title" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Create List</button>
</form>

<hr/>

<!-- Display all lists -->
@if (Model.Any())
{
    @foreach (var list in Model)
    {
        <div class="task-list">
            <h3>@list.Title</h3>
            <p>Number of Items: @list.Items.Count</p>
        
            <!-- Output tasks to main page --> 
            <section class="listItems">
                <ul class="item_list">
                    for each task in list.Items:
                    @foreach (var task in @list.Items)
                    {
                        <form asp-action="addItem" asp-route-listId="@list.ListId" method="post">
                            <!-- Debugging: output info for clarity --> 
                            <div>List ID: @list.ListId</div>
                            <div>List Title: @list.Title</div>
                            <div>List Date Created: @list.DateCreated</div> <!-- error: date initializing as 1st of jan -->

                            <!-- TODO: Handle each item option as form to check/uncheck itself  -->
                            <div class="item-group">
                                <label for="item">@task.Name</label>
                                <input type="hidden" id="item" name="item" class="form-control">
                            </div>
                        </form>
                    }
                </ul>
            </section>
            
            <!-- Add item to task list -->
            <form asp-action="AddItem" asp-route-listId="@list.ListId" method="post">
                <div class="form-group">
                    <label for="itemName">New Task</label>
                    <input type="text" id="itemName" name="itemName" class="form-control" required/>
                </div>
                <button type="submit" class="btn btn-primary">add to list</button>
            </form>
            
        
            <a href="@Url.Action("TaskList", "Project", new{listId = list.ListId })">View Tasks</a>
        </div>
    }
}






